MEDUSA_BACKEND_URL=http://silva-medusa-backend:9000
NEXT_PUBLIC_MEDUSA_BACKEND_URL=https://srv1969702.hstgr.cloud
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=__PUBLISHABLE_KEY__
NEXT_PUBLIC_MEDUSA_REGION_ID=reg_01M2G8S49ER93DK23CEH6MJ0MK
MEDUSA_MERCHANT_EMAILS=leocodes.dev@gmail.com
MEDUSA_PRICES_VERIFIED=false
